@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app{
    width: 100%;
    min-height: 100vh;
    height: auto;
}


header{
    display: flex;
    font-family: 'Poppins';
    height: 100px;
    max-width: 960px;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.title{
    font-weight: bold;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(120deg,orange,blue,white);
} 

main{
    max-width: 960px;
    min-width: 375px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}


.user{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
}


/* Connected Users Sidebar */

.connected-users{
    width: 250px;
    height: 750px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 1rem 0 0 1rem;
}


/* Chat wrapper */
.chat-wrapper{
    width: 710px;
    height: 750px;
    background-color: #fff;
   
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}

.chat-header{
    width: 100%;
    height: 50px;
    background: whitesmoke;
    font-family: 'Poppins';
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0 1rem 0 0    ;
}



/* Chat Dialog*/

#msg-inp{
    width: 250px;
    height:35px;
    border-radius: 50px;
    background: none;
    outline: none;
    border: 1px solid rgb(187, 187, 187);
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Poppins';

    &::placeholder{
        font-family: 'Poppins';
        font-size: 0.8rem;
    }
}

#send-message{
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(120deg,white 0,1%,blue);
}

#voice-message{
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(120deg,white 0,1%,blue);
}

.chat-controlls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.message{
    padding: 10px;
    border-radius: 5px;
    background: blueviolet;
    color: white;
    font-family: 'Poppins';
    width: max-content;
    max-width: 300px;
}

#chat{
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


#chat::-webkit-scrollbar{
    width: 5px;
    background: whitesmoke;
}
#chat::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 5px;
}
#chat::-webkit-scrollbar-track{
    background: transparent;
}



.message-time{
    font-size: 0.7rem;
    color: cyan;
}

.message-author{
    font-size: 0.7rem;
    color: cyan;
}

.pulse-lighthouse{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: rgb(0, 255, 106);
    animation: pulse 2s linear infinite;
}

.connected-users-bar{
    font-family: 'Poppins';
    font-size: 0.8rem;
    background: white;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    div{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
.connected-users{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#users-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;

}
.connected-user{
    padding: 0.5rem 1rem ;
     background: white;
     font-family: 'Poppins';
    border-radius: 0.5rem;
    font-size: 0.8rem;
     display: flex;
     align-items: center;
}

.typing-indicator{
    font-family: monospace;
    font-size: 0.8rem;
    color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;

}


/* Modifs */

.connected-user{
    color: blue;
    font-family: monospace;
}

.disconnected-user{
    color: rgb(240, 27, 73);
    font-family: monospace;
}

@keyframes pulse{
    0%{
        opacity: 1;
        
    }
    50%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
     
    }
}